body {
	margin-bottom:0;
	margin-right:0;
	margin-left:20px;
	margin-top:0;
	height:100%;
	font-family:Verdana; font-size:12px; color:#000;
	-webkit-print-color-adjust:exact;
}

div{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

#nr_RMA{
	border-top:dashed 1px; 
	padding-top: 10px;
}

.wydruk_tabela{
	border:1px solid #000000;
	border-collapse:collapse;
}

.wydruk_tabela tr:nth-child(even){
	font-family:Tahoma;
	font-size:14px;
	font-style:bold;
	border:1px solid #000000;
	border-collapse:collapse;	
}

.wydruk_tabela tr:nth-child(odd){
	font-family:Tahoma;
	font-size:14px;
	font-style:bold;
	background-color: #CCCCCC !important;
}

.wydruk_tabela tr:nth-child(odd) td{
	box-shadow: inset 0 0 0 10000px #ccc;
}

.wydruk_tabela td{
	border-right: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}

.wazne{
	font-family:Tahoma;
	font-size:14px;
}

@media print{
	#footer{
		visibility: hidden;
	}

	input[type=checkbox]{
		-ms-transform: scale(1.5); /* IE */
		-moz-transform: scale(1.5); /* FF */
		-webkit-transform: scale(1.5); /* Safari and Chrome */
		-o-transform: scale(1.5); /* Opera */
	}
}