body {
	margin-bottom:0;
	margin-right:0;
	margin-left:0;
	margin-top:0;
	height:100%;
	font-family:Verdana; font-size:12px; color:#000;
}

.srodtytul{
	width:625px; 
	margin: auto;
	text-align:center;
}

.srodtytul p{
	font-weight: bold;
	background-color: #FFF;
}

.form_inputs{
	background-color:#dfeaee; 
	border: 1px solid #8fc8dc; 
}
.form{
	width:625px; 
	margin: auto; 	
	font-family:Verdana; 
	font-size:12px;
}
.form_center{
	text-align: center;
}

textarea{
	max-width: 510px;
}

#blad{
	visibility: hidden;
}